.alinear-centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alinear-der {
  text-align: right;
}

.h-100 {
  height: 100vh;
}

input,
select {
  border: thin solid #dedede;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 95%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

.a-center {
  text-align: center;
}

.mt-50px {
  margin-top: 50px;
}
/*
.button,
input[type="submit"] {
  border: thin solid #444;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  background-color: #eee;
  color: #444;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
*/
