{% extends 'blog/base.html' %} {% block contenido %}
<div class="container">
  <h2>Acerca de</h2>
  <p> 
    Trabajo Final curso de Python CoderHouse. Se trata de un foro sobre Equipos de Futbol.
  </p>
  <h3>Desarrolladores</h3>
  <ul>
    <li>
        <h5>Diego Vaira</h5>
        <h6>Project Manager</h6>
        <h6>Senior Client-Server Developer</h6>
      <p></p>
    </li>
    <li>
      <h5>Claudio Bottero</h5>
      <h6>Ingeniero Electronico</h6>
      <h6>Senior Embedded Developer</h6>
    <p></p>
    </li>
  </ul>
</div>
{% endblock %}
