<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Buscar Usuario por nombre</h1>
    
    <form action="/usuarios/buscar" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
    </form>

    {% for usuario in lista_usuarios %}
    <ul>
        <li> Nombre: {{usuario.nombre}}, Apellido: {{usuario.apellido}}, Fecha Nac.: {{usuario.fecha_de_nacimiento}}</li>
    </ul>
    {% endfor %}
  
</body>
</html>