{% extends 'blog/base.html' %}

{% block contenido %}
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                {% if  Post.0 %}
                <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ Posteos.0.image.url }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{Post.0.date_published}}</div>
                    <h2 class="card-title">{{Post.0.title}}</h2>
                    <p class="card-text">{{Post.0.content}}</p>
                    <a class="btn btn-primary" href="{% url 'detail-post' Post.0.id %}">Ver</a>
                </div>
                {% endif %}
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    {% if Post.1 %}
                    <div class="card mb-4">
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ Post.1.image.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{Post.1.date_published}}</div>
                            <h2 class="card-title">{{Post.1.title}}</h2>
                            <p class="card-text">{{Post.1.content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-post' Post.1.id %}">Ver</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                    {% if Post.2 %}
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ Post.2.image.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{Post.2.date_published}}</div>
                            <h2 class="card-title">{{Post.2.title}}</h2>
                            <p class="card-text">{{Post.2.content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-post' Post.2.id %}">Ver</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    {% if Post.3 %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ Post.3.image.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{Post.3.date_published}}</div>
                            <h2 class="card-title">{{Post.3.title}}</h2>
                            <p class="card-text">{{Post.3.content}}</p>
                            <a class="btn btn-primary" href="{% url 'detail-post' Post.3.id %}">Ver</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <form action="{% url 'search-by-name-post' %}" method="get">
                        {% csrf_token %}
                        <input type="search" name="post-title">
                        <input type="submit" value="go">
                    </form>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
{% endblock %}
